---
import "../styles/global.css";
---

<section class="w-full h-screen bg-blue-950">
  <m-container class="flex flex-col h-screen justify-between text-white">
    <!-------  row1 ------->
    <m-row
      class="border border-green-500 flex content-between basis-1/3 flex-1"
    >
      <!-- col1 -->
      <m-col class="bg-blue-800 basis-1/6 grow">
        <p>Column 1</p>
      </m-col>
      <!-- col2 -->
      <m-col class="grow">
        <p>Column 2</p>
      </m-col>
    </m-row>

    <!-------  row2 ------->
    <m-row
      class="border border-green-500 flex content-between basis-1/3 flex-1"
    >
      <!-- col1 -->
      <m-col class="bg-blue-800">
        <p>Column 1</p>
      </m-col>
      <!-- col2 -->
      <m-col>
        <p>Column 2</p>
      </m-col>
    </m-row>

    <!-------  row3 ------->
    <m-row
      class="border border-green-500 flex content-between basis-1/3 flex-1"
    >
      <!-- col1 -->
      <m-col class="bg-blue-800">
        <p>Column 1</p>
      </m-col>
      <!-- col2 -->
      <m-col>
        <p>Column 2</p>
      </m-col>
    </m-row>
  </m-container>
</section>
