---
interface Props {
  text: string;
  icon: string;
  class?: string;
}

const { text, icon, class: className = "" } = Astro.props;
---

<div
  class:list={[
    "inline-flex flex-row items-center gap-2 px-4 py-2 rounded-full border text-sm font-medium transition-base",
    className,
  ]}
>
  <m-icon class="material-symbols-outlined text-xl">{icon}</m-icon>
  <span>{text}</span>
</div>
